:root{
    --brand-color: #1da1f2;
    --white-color: #ffffff;
    --black-color: #1B1B1B;
    --dark-grey: #333;
    --light-grey: #949698;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: var(--brand-color);
}

ul {
    list-style: none;
}

ul li, ul a {
    text-decoration: none;
    color: var(--light-grey);
}