body{
    background-color: var(--black-color);
}


.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 320px;
}

.main-top{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 36px;
    padding-bottom: 36px;
    width: calc(100% - 72px);
    max-width: 600px;
}

.main__logo {
    width: 100%;
    font-size: 4.2rem;
    color: var(--brand-color);
}

.main__tittle {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 85%;
    font-size: 4.6rem;
    font-weight: bold;
    line-height: 5.8rem;
    color: var(--white-color);
}

.main__sub-tittle {
    margin-bottom: 20px;
    width: 85%;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 3rem;
    color: var(--white-color);
}

.main__sub-tittle--small{
    margin-top: 38px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}

.button-container{
    margin-bottom: 16px;
}

.button-container__button {
    padding: 7px 15px;
    width: auto;
    border: none;
    border-radius: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.button-container--register{
    margin-bottom: 8px;
    min-width: 280px;
    max-width: 300px;
}

.button-container__button span {
    display: inline-block;
    margin-right: 5px;
    font-size: 1.8rem;
    vertical-align: middle;
}

.button-container__button--google {
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    color: #3c4043;
}

.button-container__button--apple {
    width: 90%;
    min-width: 250px;
    max-width: 300px;
    font-size: 1.5rem;
    font-weight: 600;
}

.button-container__button--register {
    display: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--brand-color);
    color: var(--white-color);
}

.button-container__button--login {
    min-width: 250px;
    max-width: 280px;
    border: 1px solid var(--light-grey);
    font-weight: 600;
    background-color: transparent;
    color: var(--brand-color);
}

.divider {
    display: flex;
    align-items: center;
    height: 1rem;
    margin-bottom: 20px;
}

.divider__line {
    width: 40%;
    width: 140px;
    vertical-align: middle;
    font-size: 0.2rem;
}
.divider__line hr {
    border: none;
    height: 0.1rem;
    background-color: var(--dark-grey);
}

.divider span {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 6px;
}

.main__info{
    font-size: 1.1rem;
    color: var(--light-grey);
}

.main-bottom {
    width: 100%;
    align-items: center;
    align-items: center;
}

.main-bottom__img {
    width: 100%;
    min-width: 250px;
    height: 260px;
}

.main-bottom__img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-bottom__logo {
    position: absolute;
    left: calc(50% - 9rem);
    margin-bottom: calc(50% - 130px);
    font-size: 18rem;
    color: var(--white-color);
}
.footer{
    margin: 8px 0;
    width: 100%;
    min-width: 280px;
    padding: 0 36px;
}
.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
}

.footer-nav ul li {
    font-size: 1rem;
    padding: 3px 15px;
}

@media (min-width:500px) {
    .main{
        justify-content: center;
    }
    .main__tittle{
        font-size: 6.6rem;
        line-height: 8.8rem;
    }
    
}

@media (min-width:1000px) {
    .main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
    }
    .main-top{
        order: 1;
    }
    .main-bottom__img{
        height: 100%;
    }

    .main-bottom__logo{
        font-size: 24rem;
        top: calc(50vh - 12rem);
        left: calc(15% - 12rem);
    }
}

@media (min-width:1250px)  {
    .main{
        grid-template-columns: 1fr 1fr;
    }

    .main-bottom__logo{
        font-size: 36rem;
        top: calc(50vh - 18rem);
        left: calc(25% - 18rem);
    }
}